.profile__button-edit {
  margin: 0;
  border: 0;
  background-image: url(../../../images/pero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 740px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
  }
}
