.profile__button-edit {
  display: inline;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 740px) {
  .profile__button-edit {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
}
