.popup__save {
  min-width: 358px;
  min-height: 50px;
  color: #fff;
  background: #000;
  text-align: center;
  margin-left: 36px;
  margin-bottom: 37px;
  border-radius: 2px;
}

.popup__save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 520px) {
  .popup__save {
    margin-left: 22px;
    min-width: 238px;
    min-height: 46px;
  }
}
