.popup__cards-title {
  margin: 2px 0 54px 36px;
  min-height: 23px;
}

@media screen and (max-width: 560px) {
  .popup__cards-title {
    margin-top: 5px;
    margin-left: 22px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
  }
}
