.profile__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 749px) {
  .profile__container {
    max-width: 282px;
    justify-content: center;
  }
}
