.popup__image-container {
    max-width: 75vw;
    max-height: 75vh;
    /*
    background-image: url(../../../images/zakat.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    */
}
/*
@media screen and (max-width: 560px) {
  .popup__image-container {
    width: 75vw;
    min-height: 299px;
  }
}
*/