.profile__card-edit {
  background-image: url(../../../images/plus.svg);
  background-size: 22px 22px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  width: 146px;
  height: 46px;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.profile__card-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 962px) {
  .profile__card-edit {
    margin-top: 36px;
    width: 278px;
  }
}

@media screen and (max-width: 860px) {
  .profile__card-edit {
    background-size: 16px 16px;
    margin-top: 36px;
  }
}
