.profile__button {
    width: 150px;
    min-height: 50px;
    border: 2px solid white;
}

.profile__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 945px) {
  .profile__button {
    width: 282px;
    margin-top: 36px;
    margin-top: 36px;
  }
}
