.popup__info-field {
  margin: 0 36px 30px;
  padding: 0;
  min-width: 358px;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  text-align: left;
}

.popup__info-field:last-child {
  margin-bottom: 48px;
}

.popup__info-field::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

@media screen and (max-width: 520px) {
  .popup__info-field {
    margin-left: 22px;
    min-width: 238px;
    min-height: 27px;
  }
}
